@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* Forzamos que el tamaño base no baje de 16px para evitar que se vea pequeño */
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1F2937;
  /* Este es el gris oscuro de tu plan, da mucho más contraste */
  background-color: #F3F4F6;
  /* El gris claro de fondo que querías */
  -webkit-text-size-adjust: 100%;
  /* Evita que el móvil reduzca la fuente a su antojo */
}